body{
    font-family: 'Balsamiq Sans', cursive;
    background-image: linear-gradient(to bottom left, rgb(190, 221, 255), rgb(207, 208, 255));
}

.header{
    width: 800px;
    height: 100px;
    border-style: solid;
    border-width: 18px;
    border-radius: 25px;
    border-color: rgba(180, 137, 250, 0.219);
    text-align: center;
    font-size: 25px;
    background-color: rgba(247, 62, 118, 0.212);
    color: white;
}

.sub-header{
    width: 600px;
    height: 100px;
    margin: auto;
    border-style: solid;
    border-width: 18px;
    border-radius: 25px;
    border-color: rgba(82, 5, 117, 0.219);
    text-align: center;
    font-size: 25px;
    background-color: rgba(13, 189, 92, 0.212);
    color: white;
}

.round-pic {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 450px;
    overflow: hidden;
    border-radius: 15%;
  }

  .round-pic img {
    width: auto;
    height: 100%;
    margin-left: 0px;
  }

  .circle-pic {
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
  }

  .circle-pic img {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }

#mypicture {
    grid-row: 1 / span 2;
    }

    #box1 { 
    grid-column: 2 / span 1;
    }
        
    #box2 { 
    grid-column: 3 / span 1;
    }

    #title { 
    grid-column: 1 / span 2;
    }
        
    #box-project {
    grid-column: 1 / span 2;
    }

    #box-assign {
    grid-column: 3 / span 2;
    }

    #footer {
    grid-column: 1 / span 4;
    }
       
    #morepad {
        padding: 530px 30%;
    }

.text-style1 {
    text-align: center;
    color: rgb(30, 0, 202);
    font-size: 35px;
}

.text-style2 {
    text-align: center;
    color: rgb(81, 123, 185);
    font-size: 25px;
}

.text-style3 {
    text-align: center;
    color: rgb(219, 62, 135);
    font-size: 30px;
}

.grid-container {
    display: grid;
    height: 500px;
    align-content: center;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 100px;
  }

  .grid-container > div {
    background-color: rgba(12, 152, 218, 0.11);
    text-align: center;
    padding: 20px 20%;
  }


